{% extends '_base.html' %}

{% block content %}
 <div class="container-fluid d-flex justify-content-center">
      <div class="row">
          <div class="col-md-auto">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
              <div class="card-header">Online Students</div>
              <div class="card-body">
                <h5 class="card-title">Number of online students: {{ online_students_count }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
              <div class="card-header">Offline Students</div>
              <div class="card-body">
              <h5 class="card-title">Number of offline students: {{ offline_students_count }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
              <div class="card-header">Online Courses</div>
              <div class="card-body">
                <h5 class="card-title">Number of online courses: #</h5>
              </div>
            </div>
          </div>
      </div>
  </div> 


{% endblock%}