{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock title %}

{% block content %}
<div class="container">
  <h2>Log In</h2>
  <form id="loginForm" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit">Log in</button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_username').on('input', function() {
                var username = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '/get_companies/',  // URL to fetch associated companies
                    data: {'username': username},
                    success: function(data) {
                        $('#id_company').empty();
                        $.each(data.companies, function(key, value) {
                            $('#id_company').append($('<option>').text(value).attr('value', key));
                        });
                    }
                });
            });
        });
    </script>
{% endblock content %}