{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}

{% block content %}
<style>
    /* Custom CSS for space between cards */
    .card {
      margin-right: 20px; /* Adjust the spacing as needed */
    }
    .fixed-width-card {
      width: 300px; /* Set your desired fixed width */
    }
  </style>
{% if user.is_authenticated %}
<body>
  {% comment %} <div class="container-fluid d-flex justify-content-center">
      <div class="row">
          <div class="col-md-auto">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
              <div class="card-header">Online Students</div>
              <div class="card-body">
                <h5 class="card-title">Number of online students: {{ online_students_count }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
              <div class="card-header">Offline Students</div>
              <div class="card-body">
              <h5 class="card-title">Number of offline students: {{ offline_students_count }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
              <div class="card-header">Online Courses</div>
              <div class="card-body">
                <h5 class="card-title">Number of online courses: #</h5>
              </div>
            </div>
          </div>
      </div>
  </div> {% endcomment %}
  <div class="container-fluid d-flex justify-content-center">
  {% for company in online_companys %}
  <div class="row">
            <div class="col-md-auto">
            <div class="card fixed-width-card text-white mb-3" style="max-width: 18rem; background-color: #7386D5;">
              <div class="card-header">Online Companies</div>
              <div class="card-body">
                <h5 class="card-title"> <a href="{% url 'company-info' company_id=company.id %}">Copany name: {{ company.name }}</a></h5>
              </div>
            </div>
          </div>

  </div>
  {% endfor %}
  </div>
</body>
{% else %}
<div class="container">
  <h2>Welcome to Student Management System</h2>
  <a href="{% url 'login' %}" class="btn btn-primary">Login</a> 
  <a href="" class="btn btn-primary">SignUp</a>
</div>

{% endif %}

{% endblock %}